<%- include ('partials/_header.ejs') %>
      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                     <h2>Requst A call  for You</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <form id="request" class="main_form" method="POST" action="/contact">
                     <div class="row">
                        
                        <% if(flashMessages) { %>
                        <div class="col-md-12">
                           <% if(flashMessages.success) { %>
                              <div class="alert alert-success">
                                 <%= flashMessages.success %>
                              </div>
                           <% } else if(flashMessages.error) { %>
                              <div class="alert alert-danger">
                                 <%= flashMessages.error %>
                              </div>
                           <% } %> 
                        </div>
                        <% } %>

                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Your Name" type="type" name="name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone Number" type="type" name="phone">                          
                        </div>                        
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="type" name="message">Message</textarea>
                        </div>
                        <div class="col-md-12">
                           <button type="submit"  value="Send" class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="col-md-6">
                  <div class="map_main">
                     <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12238.917843643228!2d32.82821059359439!3d39.9250701280327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f190a9cea8f%3A0xd3862ea8248d08a0!2sAn%C4%B1tkabir!5e0!3m2!1sen!2str!4v1634161767782!5m2!1sen!2str" width="600" height="425" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <%- include ('partials/_footer.ejs') %>